<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.taihuoniao.fineix"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-feature android:name="android:hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user.UserGuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".user.MyBarCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".user.FindFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".user.UserCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".user.EditUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".user.UserEditNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".user.OptRegisterLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.ToLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.ToRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.FindPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".user.FocusFansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".user.SystemSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".user.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".user.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".scene.SelectPhotoOrCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".map.POIListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.CropPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".map.BaiDuLBSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.EditPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".scene.CreateSceneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>

        <activity
            android:name=".scene.SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".qingjingOrSceneDetails.SceneDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".qingjingOrSceneDetails.CommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.AddLabelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".map.HotCitiesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.AddProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".scene.SelectStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".scene.SearchURLActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"
            />
        <activity
            android:name=".order.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".map.BDSearchAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".map.SelectOrSearchQJActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".map.DisplayOverlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote">
        </service>
        <!--此处为测试value，线上版本务必更换-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="muQDLN6lCST6qMDvTAydAilM"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent101092227"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/transparent"/>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
