<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.taihuoniao.fineix"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android:hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".scene.SelectPhotoOrCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".map.POIListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.CropPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".map.BaiDuLBSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.EditPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".scene.CreateSceneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".map.HotCitiesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".scene.AddProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".scene.SelectStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"/>
        <activity
            android:name=".scene.SearchURLActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"
            />
        <activity
            android:name=".order.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.6"></action>
            </intent-filter>
        </service>
        <!--此处为测试value，线上版本务必更换-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="muQDLN6lCST6qMDvTAydAilM"/>


    </application>

</manifest>
